.Curri {
  width: 50%;
  margin-left: 20%;
  border-radius: 12px;
  background-color: rgb(160, 160, 164);
  height: 1200px;
  margin-left: 290px;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cube {
  width: 97%;
  height: 250px;
  text-align: end;
}

.cube2 {
  width: 80%;
  height: 250px;
  margin-left: 20%;
}

.cube3 {
  width: 98%;
  height: 650px;
  background-color: rgb(202, 198, 198);
}

#raya {
  border-left: 5px solid gray;
  width: 80%;
  margin-left: 15px;
  padding-left: 20px;
  height: 130px;
}

.cube4 {
  width: 99%;
  height: 500px;
}
.cube5 {
  width: 99%;
  height: 250px;
}

.cube6 {
  background-color: rgb(202, 198, 198);
  width: 100%;
  height: 250px;
}
body {
  background-color: white;
}

.imagenCara {
  width: 70%;
  margin-left: 12%;
  border: solid 22px rgb(76, 61, 25);
  margin-top: 1.5%;
}
.tex1 {
  font-family: Arial, Helvetica, sans-serif;
}
.text2 {
  font-family: "Times New Roman", Times, serif;
}
.titulo2 {
  margin-left: 10%;
}

.borde {
  width: 47%;
  height: 225px;
  margin-top: 0.8%;
  margin-left: 1%;
  position: absolute;
  border: solid 2px gray;
}

#raya2 {
  border-left: 5px solid gray;
  width: 80%;
  margin-left: 15px;
  padding-left: 20px;
  height: 130px;
}
#raya3 {
  border-left: 5px solid gray;
  width: 80%;
  margin-left: 15px;
  padding-left: 20px;
  height: 130px;
}

.elhr {
  background-color: gray;
}

body {
  background-color: rgb(121, 118, 118);
}
