.texto1 {
  text-align: center;
  font-size: 50px;
}
.texto2 {
  margin-left: 24%;
  font-size: 18px;
}
.curriculum {
  width: 50%;
  margin-left: 0%;
  border-radius: 12px;
  background-color: rgb(219, 222, 247);
  height: 1200px;
  margin-left: 290px;
}
.texto3 {
  margin-left: 6%;
  margin-top: 7%;
}
.texto4 {
  margin-left: 6%;
}

.headerGrid {
  display: flex;
}

.borde {
  width: 49%;
  height: 190px;
  margin-top: 0%;
  margin-left: 19.9%;
  position: absolute;
  border: solid 3px rgb(0, 0, 0);
}

.cube {
  height: 200px;
}

.circle {
  fill: none;
  stroke-width: 10;
  transform: rotate(-90deg);
  transform-origin: 50%;
  stroke-dasharray: 100 100;
  stroke: #aaa;
}

.circulos {
  display: flex;
  gap: 35px;
  margin-left: 5%;
}
.porcentajes{
   position: relative;
   margin-left: 4%;
}
.porcentajes span{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 20px/1em verdana;
}


.textoCircu {
    display: grid;
    grid-template-columns:  25% 15% 22% 25%;
    text-align: center;
}
.cube2 {
    height: 150px;
  }
  
  .cube3{
    display: flex;
    gap: 10%;
  }
  .McGregor{
    width: 45%;
    margin-top: 9%;
    margin-right: 2%;
  }
  .textoCo{
    margin-left: 2%;
  }
  .borde2 {
    width: 49%;
    height: 1196px;
    margin-top: 0%;
    margin-left: 19.9%;
    position: absolute;
    border: solid 3px rgb(0, 0, 0);
  }
   .cube4{
    display: flex;
    gap: 10%;
  }

   #raya {
    border-left: 3px solid gray;
    width: 80%;
    margin-left: 15px;
    padding-left: 20px;
    height: 350px;
  }
  .hobby1{
  display: flex;
  gap: 40px;
  }
   .hobby2{
  display: flex;
  gap: 40px;
  margin-top: 40px;
  }
  .Btn{
  margin-left: 70%;
  position: relative;
  }
#contratar{
position: absolute;
right: 35%;
  
}
