.texto1 {
  text-align: center;
  font-size: 50px;
}
.texto2 {
  margin-left: 24%;
  font-size: 18px;
}
.curriculum {
  width: 50%;
  margin-left: 20%;
  border-radius: 12px;
  background-color: rgb(219, 222, 247);
  height: 1200px;
  margin-left: 290px;
}
.texto3 {
  margin-left: 6%;
  margin-top: 7%;
}
.texto4 {
  margin-left: 6%;
}

.headerGrid {
  display: flex;
}

.borde {
  width: 49%;
  height: 190px;
  margin-top: 0%;
  margin-left: 24.7%;
  position: absolute;
  border: solid 3px rgb(0, 0, 0);
}

.cube {
  height: 200px;
}

.circle {
  fill: none;
  stroke-width: 10;
  transform: rotate(-90deg);
  transform-origin: 50%;
  stroke-dasharray: 100 100;
  stroke: #aaa;
}

.circulos {
  display: flex;
  gap: 35px;
  margin-left: 5%;
}
.porcentajes{
   position: relative;
}
.porcentajes span{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 20px/1em verdana;
}